.az-sortable{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  i {
    display: flex;
    width: 15px;
    height: 15px;
    background-image: url('/img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.az-sort-asc{
    i {
      transform: rotateZ(180deg);
    }
  }
  &.az-sort-none{
    i{
      display: none;
    }
  }
}