{% extends 'layouts/auth.twig' %}
{% block body %}

        <form method="POST" action="/user/logout">
            <button class="btn btn-primary w-100 py-2" type="submit">Logout</button>
        </form>

{% endblock %}