<!DOCTYPE html>
<html data-bs-theme="auto" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#712cf9">
    <title>{{ title }}</title>
    {% include 'partials/head-scripts.twig'  %}
    {% include 'partials/favicons.twig'  %}
</head>
<body>
{% set userEmail = user.email ?? 'Account' %}
{% include 'partials/top-panel.twig' with {userEmail} %}
{% block body %}{% endblock %}
</body>
</html>